<!DOCTYPE html>
<html>
	<head>
		<title>Good Team</title>
		<link rel='stylesheet' href='/views/stylesheets/style.css' />
		<!-- AngularJS -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
		<!-- Bootstrap: Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Bootstrap: Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
		<!-- AngularJS controllers -->
		<script src="/controllers/ngApp.js"></script>
	</head>
	<body  ng-app="goodteam">
		<div class="container">
			<!-- navbar -->
			<nav class="navbar-fluid navbar-default navbar-fixed-top" >
				<div class="container">
					<!-- logo -->
					<a href="#/" class="navbar-left">
						<img src="/views/img/logo.png" alt="logo">
					</a>
					<!-- Login or Register -->
					<p class="navbar-right navbar-text"><a href="#/login">Login</a> or <a href="#/register">Register</a></p>
				</div>
			</nav>
			<!-- Content -->
			<div class="row content">
				<div ng-view></div>
			</div>
		</div>
	</div>
</body>
</html>