<!DOCTYPE html>
<html>
	<head>
		<% include header %>
	</head>
	<body  ng-app="goodteam">
		<div class="container">
			<!-- navbar -->
			<% include navbar %>
			<!-- Content -->
			<div class="row content" ng-controller="homeProjectCtrl">
				<div class="col-md-offset-2 col-md-8 login">
					<form class="form-signin" ng-submit="login()">
						<h2 class="form-signin-heading">Please login</h2>
						<p class="text-warning">{{error_message}}</p>
						<input type="username" ng-model="user.username" placeholder="Username" class="form-control" required="" autofocus=""/ ><br>
						<input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
