<nav class="navbar-fluid navbar-default navbar-fixed-top" ng-controller="navCtrl">
	<div class="container-fluid">
		<!-- logo -->
		<a href="#/" class="navbar-left">
			<img src="/views/img/logo.png" alt="logo">
		</a>
		<a href="#/" class="navbar-left navbar-text"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
		<!-- Login or Register -->
		<p class="navbar-right navbar-text" ng-if="!authenticated">
			<a href ng-click="openSignIn()">Login</a>
			or
			<a href ng-click="openSignUp()">Register</a>
			or
			<a href="/auth/google">Sign in with Google</a>
		</p>
		<p class="navbar-right navbar-text" ng-if="authenticated"><a href="#" ng-click="signout()">Logout</a></p>
		<p class="navbar-right navbar-text" ng-if="authenticated">Signed in as <a href="#/admin/user/{{current_user}}">{{current_user}}</a></p>
	</div>
</nav>