<!-- navbar -->
<nav class="navbar-fluid navbar-default navbar-fixed-top" >
	<div class="container">
		<!-- logo -->
		<a href="/" class="navbar-left">
			<img src="/views/img/logo.png" alt="logo">
		</a>
		<!-- Login or Register -->
		<p class="navbar-right navbar-text"><a href="/login">Login</a> or <a href="/register">Register</a></p>
	</div>
</nav>

