<!DOCTYPE html>
<html>
	<head>
		<% include header %>
	</head>
	<body  ng-app="goodteam">
		<div class="container">
			<!-- navbar -->
			<% include navbar %>
			<!-- Content -->
			<div class="row content" ng-controller="profileCtrl">
				
			</div>
		</div>
	</div>
</body>
</html>
