<div class="row card">
	<h1>Project Information</h1>
	<div class="col-xs-12 col-md-4">
		<div>
			<h3>Information</h3>
			<p>Name: <span>{{project.ProjectName}}</span></p><br>
			<p>Start from: {{project.Start_time | date:"h:mma 'on' MMM d, y"}} {{(project.Finish_time)? (' to ' + project.Finish_time | date:"h:mma 'on' MMM d, y"):''}}</p>
			<progressbar class="progress-striped active" max="100" value="project.Status" type="primary"><i style="color:black; white-space:nowrap;">{{project.Status}}%</i></progressbar>
			<br>
			<p>Admin: <span><a href="#/users/{{project.Admin.UserId}}">{{project.Admin.UserId}}</a></span></p><br>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<h3>Description</h3>
		<p><span>{{project.Description}}</span></p>
		<br>
		<h3>Subjects</h3>
		<ul class="checkbox" >
		    <li ng-repeat="subject in project.Subjects">{{subject}}</li>
		</ul>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="row">
			<!--This is only visible by the administrator-->
			<div id="Administrate" style="display:yes">
				<a href="#/admin/project/{{project._id}}">Administrate my project</a>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row card">
	<h1>People</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Person</th>
				<th>Skills</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<!--You need to update the members object and set the "apply" button visible if the posision is not full-->
			<tr ng-repeat="member in project.Member track by $index">
				<td>
					<a href="#/users/{{member.UserId}}">{{member.UserId}}</a></td>
				<td><div class="form-group">
						<ul class="checkbox" >
							<li class="text-muted" ng-repeat="skill in member.Skills">{{skill}}</li>
						</ul>
					</div></td>
				<td>Member</td>
			</tr>			
			<tr ng-repeat="candidate in project.Candidate track by $index">
				<td>
					<a href="#/users/{{candidate.UserId}}">{{candidate.UserId}}</a></td>
				<td><div class="form-group">
						<label for="skills">Skills</label>
						<ul class="checkbox" >
							<li class="text-muted" ng-repeat="skill in candidate.Skills">{{skill}}</li>
						</ul>
					</div></td>
				<td>Candidate</td>
			</tr>
		</tbody>
	</table>
	<br>
	<button id="applyMember"class="btn btn-info" ng-click="apply()">Apply to be a member</button>
</div>
<br>
<div id="ratefield" class="row card">
		<div>
			<h2>Rate your group member</h2>
			<div>
				<div class="form-group">
				  <label for="sel1">Select list:</label>
				  <select class="form-control" id="sel1">
				  	<option value="{{project.Admin._id}}">{{project.Admin.UserId}}</option>
				    <option ng-repeat="member in project.Member" value="{{member._id}}">{{member.UserId}}</option>
				  </select>
				</div>
				<br>
				<br>
				<div class="col-xs-12 col-md-12">
					<textarea class="form-control" placeholder="Leave your comment here" ng-model="rating.Comments"></textarea>
				</div>
				<br>
				<div class="col-xs-12 col-md-12">
					<rating ng-model="rating.Stars" max="max" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" ></rating>
					<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" >{{overStar || rating.Stars}}</span>
				</div>
				<br>
				<br>
				<div class="col-xs-12 col-md-12">
					<button class="btn btn-primary" ng-click="addRating()">Post</button>
				</div>
				
		    </div>
		 </div>
</div>