<div class="row card">
	<h1>Project Information</h1>
	<div class="col-xs-12 col-md-4">
		<div>
			<h3>Information</h3>
			<p>Name: <span>{{project.ProjectName}}</span></p><br>
			<p>Start Time: <span>{{project.Start_time}}</span></p><br>
			<!--Finish time is not displayed if it's ongoing-->
			<p id="FinishTime" style="display:none">Finish Time: <span>{{project.Finish_time}}</span></p><br>
			<p>Admin: <span>{{project.Admin}}</span></p><br>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<h3>Description</h3>
		<p><span>{{project.Description}}</span></p>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="row">
			<!--This is only visible by the administrator-->
			<button id="Administrate" class="btn btn-info" style="display:yes" ng-click="administrate(project._id)">Administrate my project</button>
		</div>
	</div>
</div>
<br>
<div class="row card">
	<h1>Members</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Role</th>
				<th>Skills</th>
				<th>Person</th>
			</tr>
		</thead>
		<tbody>
			<!--You need to update the members object and set the "apply" button visible if the posision is not full-->
			<tr ng-repeat="member in members">
				<td>{{member.Role}}</td>
				<td>{{member.Skill}}</td>
				<td style="display:none">{{member.Name}}</td>
				<td>
					<button class="btn btn-info" style="display:yes" ng-click="apply()">Apply</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<br>
<div class="row card">
	<h1>Message Board</h1>
	<div class="column">
		<input class="form-control" placeholder="Leave your question here" ng-model="comment.Comment">
		<br>
		<button class="btn btn-primary" ng-click="addQuestion()">Post My question</button>
	</div>
	<!--comment display还没写，你的database要改一下，需要讨论-->
</div>