<div class="row card">
	<h1>Project Information</h1>
	<div class="col-xs-12 col-md-4">
		<div>
			<h3>Information</h3>
			<p>Name: <span>{{project.ProjectName}}</span></p><br>
			<p>Start from: {{project.Start_time | date:"h:mma 'on' MMM d, y"}} {{(project.Finish_time)? (' to ' + project.Finish_time | date:"h:mma 'on' MMM d, y"):''}}</p>
			<progressbar class="progress-striped active" max="100" value="project.Status" type="primary"><i style="color:black; white-space:nowrap;">{{project.Status}}%</i></progressbar>
			<br>
			<p>Admin: <span><a href="#/users/{{project.Admin.UserId}}">{{project.Admin.UserId}}</a></span></p><br>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<h3>Description</h3>
		<p><span>{{project.Description}}</span></p>
		<br>
		<h3>Subjects</h3>
		<ul class="checkbox" >
		    <li ng-repeat="subject in project.Subjects">{{subject}}</li>
		</ul>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="row">
			<!--This is only visible by the administrator-->
			<div id="Administrate" style="display:yes">
				<a href="#/admin/project/{{project._id}}">Administrate my project</a>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row card">
	<h1>People</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Person</th>
				<th>Skills</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<!--You need to update the members object and set the "apply" button visible if the posision is not full-->
			<tr ng-repeat="member in project.Member track by $index">
				<td>
					<a href="#/users/{{member.UserId}}">{{member.UserId}}</a></td>
				<td>{{member.Skills}}</td>
				<td>Member</td>
			</tr>			
			<tr ng-repeat="candidate in project.Candidate track by $index">
				<td>
					<a href="#/users/{{candidate.UserId}}">{{candidate.UserId}}</a></td>
				<td>{{candidate.Skills}}</td>
				<td>Candidate</td>
			</tr>
		</tbody>
	</table>
	<br>
	<button id="applyMember"class="btn btn-info" ng-click="apply()">Apply to be a member</button>
</div>
<br>
<div class="row card">
	<h1>Message Board</h1>
	<div class="row">
		<input class="form-control col-md-8" placeholder="Leave your question here" ng-model="myComment.Content">
		<button id="postComment" class="btn btn-primary col-md-4" ng-click="addPost()">Post My comment</button>
	</div>
	<table class="table">
				<thead>
					<tr>
						<th class="col-md-6">Comments</th>
						<th class="col-md-2">UserId</th>
						<th class="col-md-2">Date</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="comment in project.Comments | orderBy: 'Time':true">
						<td class="col-md-6">{{comment.Content}}</td>
						<td class="col-md-2">{{comment.UserId}}</td>
						<td class="col-md-2">{{comment.Time | date:"h:mma 'on' MMM d, y"}}</td>
					</tr>
				</tbody>
	</table>
</div>