<!DOCTYPE html>
<html ng-app="goodteam">
  <head>
    <title>Good Team</title>
    <link rel='stylesheet' href='/views/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
  <!-- Bootstrap: Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Bootstrap: Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>

	<!-- AngularJS controllers -->
	<script src="/controllers/ngApp.js"></script>
  </head>
  <body>
  	<div class="container">
  	<!-- Header -->
  	<header>
  		<!-- navbar -->
	  	<nav class="navbar navbar-default">
			<!-- logo -->
			<a href="/" class="logo-link">
				<img src="/views/img/logo.png" alt="logo">
			</a> 
			<!-- login form-->
			<form action="" id="signin" class="navbar-form navbar-right" role="form">
				<!-- Account email -->
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="email" class="form-control" id="email" name="email" value="" placeholder="Email Address">
				</div>
				<!-- Password -->
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input type="password" class="form-control" id="password" name="password" value="" placeholder="Password">
				</div>
				<!-- submit button -->
				<button class="btn btn-primary" type="submit">Login</button>
			</form>
	  	</nav>
  	</header>
  	<!-- Content -->
	<div class="row content">
		<h1>Hello Banana!</h1>
	</div>
  	</div>
  </body>
</html>
