
<div class="col-md-offset-4 col-md-4 card" ng-controller="MainController">

    <form ng-submit="submitLoginData()"  class="css-form form-signin" name="myLoginForm" >
        		<h2 class="myform-heading">Register</h2>
        <div class="form-group">
            <label class="control-label">Username</label>
            <input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
        </div>
        <div class="control-group" ng-class="{error:!myform.username.$valid}">
            <label for="inputUsername" class="control-label">Username:</label>
            <div class="controls">
                <input type="text" id="inputUsername" name="username" ng-model="username" valid-username />
                <div class="help-inline">
                    <span ng-show="!!myform.username.$error.isBlank">Username Required.</span>
    				<span ng-show="!!myform.username.$error.invalidChars">Username must contain letters &amp; spaces only.</span>
                    <span ng-show="!!myform.username.$error.invalidLen">Username must be 5-20 characters.</span>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': myLoginForm.mail.$dirty && myLoginForm.mail.$invalid}">
            <label class="control-label">E-mail:</label>
            <input type="email" name="mail" class="form-control" ng-model="mail" placeholder="E-mail address" required ng-filtered="validEmail($value)" />
            <span class="help-block" ng-show="myLoginForm.mail.$dirty && myLoginForm.mail.$error.required">Email Address is required.</span>
            <span class="help-block" ng-show="myLoginForm.mail.$dirty && myLoginForm.mail.$error.email">The Email Address you provided is not valid.</span>
            <span class="help-block" ng-show="myLoginForm.mail.$dirty && !myLoginForm.mail.$error.filtered">The Email Address you provided doesnot exists in the list.(Use "nitin.sarma@gmail.com" , "nitin@gmail.com")</span>
        </div>
        <div class="form-group" ng-class="{'has-error': myLoginForm.password.$dirty && myLoginForm.password.$invalid}">
            <label class="control-label">Password:</label>
            <input type="password" name="password" class="form-control" ng-model="password" placeholder="Password" required ng-pattern="passwordPattern" />
            <span class="help-block" ng-show="myLoginForm.password.$dirty && myLoginForm.password.$error.required">Password is required.</span>
            <span class="help-block" ng-show="myLoginForm.password.$dirty && myLoginForm.password.$error.pattern">Your password should be at least 5 characters long, and contain an uppercase letter and a number.</span>
        </div>
        <div class="form-group" ng-class="{'has-error': myLoginForm.rep_password.$dirty && myLoginForm.rep_password.$invalid}">
            <label class="control-label">Repeat password:</label>
            <input type="password" name="rep_password" class="form-control" ng-model="rep_password" placeholder="Repeat password" required ng-equals="password" />
            <span class="help-block" ng-show="myLoginForm.rep_password.$dirty && myLoginForm.rep_password.$error.required">Repeat Password is required.</span>
            <span class="help-block" ng-show="myLoginForm.rep_password.$dirty && myLoginForm.rep_password.$error.equals">Passwords do not match.</span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg" ng-disabled="form.$invalid">Submit</button>
        </div>
    </form>
</div>
