<div class="register">
	<form class="form-auth" ng-submit="register()">
		<h2>Register</h2>
		<p class="text-warning">{{error_message}}</p>
		<input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
		<input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
		<input type="submit" value="Register" class="btn btn-primary" />
	</form>
</div>

<div class="col-sm-8 col-sm-offset-2">
   
    <!-- FORM -->
    <!-- pass in the variable if our form is valid or invalid -->
    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <!-- NAME -->
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="name" required>
        </div>

        <!-- USERNAME -->
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
        </div>
        
        <!-- EMAIL -->
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="email">
        </div>
        
        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>

</div><!-- col-sm-8 -->
