<!DOCTYPE html>
<html>
	<head>
		<% include header %>
	</head>
	<body  ng-app="goodteam">
		<div class="container">
			<!-- navbar -->
				<% include navbar %>
			<!-- Content -->
			<div class="row content" ng-controller="homeProjectCtrl">
				<div class="login">
					<form class="form-auth" ng-submit="register()">
						<h2>Register</h2>
						<p class="text-warning">{{error_message}}</p>
						<input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
						<input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
						<input type="submit" value="Register" class="btn btn-primary" />
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<!-- ngrouter -->