		<div class="row card"><p> {{user}} </p></div>
		<div class="row card">
			<h1>Personal Information</h1>
			<div class="col-xs-12 col-md-8">
				<!--changeinfo not finished-->
				<div>
					<p>Name: <span>{{user.UserId}}</span></p><br>
					<p>Email: <span>{{user.Email}}</span></p><br>
					<p>Ceilphone: <span>{{user.Ceil}}</span></p><br>
					<p>Skills: <span>{{user.Skills}}</span></p><br>
	      		</div>
      		</div>
		</div>
		<div class="row card">
			<div>
				<h1>Projects</h1>
				<table class="table">
					<thead>
						<tr>
							<th>Project</th>
							<th>Start time</th>
							<th>Role</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="project in sortedProjects">
							<td>{{project.ProjectName}}<span class="badge">{{project.Status}}</span></td>
							<td>{{project.Start_time}}</td>
							<td>{{project.Role}}</td>
							<td>
								<button class="btn btn-info" ng-click="seeProject(project._id)">See more</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row card">
			<div>
				<h1>Rates and Comment</h1>
				<table class="table">
			<tbody>
				<tr>
					<td><input type="text" class="form-control" placeholder="Leave your rate here" ng-model="rating.Comments"></td>
					<td>
						<rating ng-model="rating.Stars" max="max" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" ></rating>
					    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" >{{overStar || rating.Stars}}</span></td>
					<td><button class="btn btn-primary" ng-click="addRating()">Post</button></td>
					<p>Message: {{message}}</p>
				</tr>
				<tr>
					<p>Rating obj: {{rating}}</p>
				</tr>
				<!--you need to update the rates object-->
				<tr >
					<td>Comment: {{rate.Comment}}</td>
					<td>Stars: {{rate.Stars}}</td>
					<td>Rater: {{rate.RaterId}}</td>
				</tr>
				<tr ng-repeat="rate in user.Rating">
					<td>Comment: {{rate.Comment}}</td>
					<td>Stars: {{rate.Stars}}</td>
					<td>Rater: {{rate.RaterId}}</td>
				</tr>
			</tbody>
			    </table>
			</div>
		</div>
	</div>