<div class="modal-header">
    <h3 class="modal-title">Update</h3>
</div>
<div class="modal-body">
    <form class="form" ng-submit="register()" valdr-type="signUp">
        <div class="form-group ng-invalid" valdr-form-group="">
            <label for="UserId">Username</label>
            <input type="text" class="form-control" id="UserId" name="UserId" ng-model="newInfo.UserId" placeholder="Username"/>
            <p>{{newInfo.UserId}}</p>
        </div>
        <div class="form-group ng-invalid" valdr-form-group="">
            <label for="NickName">Nick name</label>
            <input type="text" class="form-control" id="NickName" name="NickName" ng-model="newInfo.NickName" placeholder="Nick name" />
        </div>
        <div class="form-group ng-invalid" valdr-form-group="">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="Email" ng-model="newInfo.Email" placeholder="Email">
        </div>
        <div class="form-group ng-invalid" valdr-form-group="">
            <label for="Ceil">Ceil</label>
            <input type="text" class="form-control" id="Ceil" name="Ceil" ng-model="newInfo.Ceil" placeholder="Ceil phone">
        </div>
        <div class="form-group ng-invalid" valdr-form-group="">
            <label for="oldPassword">Password</label>
            <input type="password" class="form-control" id="password" name="oldPassword" placeholder="Current Password">
        </div>
        <div class="form-group ng-invalid" valdr-form-group="">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPwd" ng-model="Pwd"  placeholder="New Password">
        </div>
        <div class="form-group ng-invalid" valdr-form-group="">
            <label for="newPwd2">Repeat New Password</label>
            <input type="password" class="form-control" id="newPassword2" name="newPwd2" placeholder="Repeat New Password">
        </div>
        <div class="form-group ng-invalid" valdr-form-group="">
            <label for="skills">Skills</label>
            <div class="checkbox" ng-repeat="(skill,check) in skills">
                <input type="checkbox" name="skills[skill]" value="skill" ng-model="skills[skill]" checked="newInfo.Skills.indexOf(skill)">{{skill}}<br/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
        
