<div class="col-xs-12 col-md-8 col-md-push-2">
	<div class="row card"><p> {{user}} </p></div>
	<div class="row card">
		<h2>Personal Information</h2>
		<div class="col-xs-12 col-md-8">
			<div>
				<form class="form">
					<div class="form-group">
						<label class="control-label">Username</label>
						<p class="form-control-static text-muted">{{user.UserId}}</p>
					</div>
					<div class="form-group">
						<label class="control-label">Nick name</label>
						<p class="form-control-static text-muted">{{user.NickName}}</p>
					</div>
					<div class="form-group">
						<label class="control-label">Email</label>
						<p class="form-control-static text-muted">{{user.Email}}</p>
					</div>
					<div class="form-group">
						<label class="control-label">Ceil</label>
						<p class="form-control-static text-muted">{{user.Ceil}}</p>
					</div>
					<div class="form-group">
						<label for="skills">Skills</label>
						<ul class="checkbox" >
							<li class="text-muted" ng-repeat="skill in user.Skills">{{skill}}</li>
						</ul>
					</div>
				</form>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="row">
				<p>Message: {{message}}</p>
				<!--you need to implement changeProfile and applyNewProject in controller，and also change the display of the two buttons, since they are not visible for public-->
				<button id="changeProfile" class="btn btn-info" ng-click="open('lg')">Update my profile</button>
				<br>
				<br>
				<a id="applyNewProject" href="#/apply/">Apply for new project</a>
			</div>
		</div>
	</div>
	<div class="row card">
		<div>
			<h2>Projects</h2>
			<!--you need to set the variable sortedProject in controller-->
			<table class="table">
				<thead>
					<tr>
						<th>Project</th>
						<th>Start time</th>
						<th>Role</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="project in admin_projects">
						<td><a href="#/projects/{{project._id}}">{{project.ProjectName}}<a></td>
						<td>{{project.Start_time}}</td>
						<td>Admin</td>
					</tr>
					<tr ng-repeat="project in member_projects">
						<td><a href="#/projects/{{project._id}}">{{project.ProjectName}}<a></td>
						<td>{{project.Start_time}}</td>
						<td>Member</td>
					</tr>
					<tr ng-repeat="project in candidate_projects">
						<td><a href="#/projects/{{project._id}}">{{project.ProjectName}}<a></td>
						<td>{{project.Start_time}}</td>
						<td>Candidate</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row card">
		<div>
			<h2>Rates and Comment</h2>
			<table class="table">
				<tbody>
						<tr ng-repeat="rate in user.Rating">
							<td>Comment: {{rate.Comments}}</td>
							<td>Stars: {{rate.Stars}}</td>
							<td>Rater: {{rate.RaterId}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>