<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="item in items">
            <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
        </li>
    </ul>
    Selected: <b>{{ selected.item }}</b>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
        
<div>
    <form class="form card" ng-submit="register()">
        <legend>Sign up</legend>
        <div class="form-group">
            <label for="UserId">Username</label>
            <input type="text" class="form-control" id="UserId" name="UserId" ng-model="newInfo.UserId" placeholder="Username"/>
            <p>{{newInfo.UserId}}</p>
        </div>
        <div class="form-group">
            <label for="NickName">Nick name</label>
            <input type="text" class="form-control" id="NickName" name="NickName" ng-model="newInfo.NickName" placeholder="Nick name" />
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="Email" ng-model="newInfo.Email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="Ceil">Ceil</label>
            <input type="text" class="form-control" id="Ceil" name="Ceil" ng-model="newInfo.Ceil" placeholder="Ceil phone">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="Pwd" ng-model="newInfo.Pwd"  placeholder="Password">
        </div>
        <div class="form-group">
            <label for="password2">Repeat Password</label>
            <input type="password" class="form-control" id="password2" ng-model="Pwd2"  placeholder="Password">
        </div>
        <div class="form-group">
            <label for="skills">Skills</label>
            <div class="checkbox" ng-repeat="(skill,check) in skills">
                <input type="checkbox" name="skills[skill]" value="skill" ng-model="skills[skill]">{{skill}}<br/>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>