body {
	padding-top: 70px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.content-left {
	margin-top: 50px;
}

.content-right {
	margin-top: 30px;
}

.card{
	padding: 10px;
	border: solid 1px #d9d9de;
	border-radius: 6px;
	line-height: 1.5;
	margin-bottom: 10px;
}
.content {
	margin-top: 20px;
}
.login {
	margin-top: 20px;
}

.checkbox {
	margin-left: 20px;
}