body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.site-nav {

	height: 60px;
}

.carousel {

}

.container {
	margin-top: 30px;
}
.project-card {
	border: solid 1px #d9d9de;
	border-radius: 6px;
	line-height: 1.5;
	margin-bottom: 10px;
}